**/.dockerignore
**/.env
**/.git
**/.gitignore
.github
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.next/*
!**/.next/standalone
!**/.next/static
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/docker-compose*
**/Dockerfile*
**/npm-debug.log
LICENSE
README.md