@use '../../../../mantine' as mantine;

.group {
  height: 100%;
}

.switch {
  margin-left: 15px;
  cursor: pointer;
}

.logoImg {
  max-width: 2.1rem;
  width: 100%;
  height: auto;
}

.profileCard {
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-text);
  border-radius: var(--mantine-radius-sm);

  @media (max-width: mantine.$mantine-breakpoint-xs) {
    display: none;
  }
}

.textLogo {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.icon {
  width: mantine.rem(22px);
  height: mantine.rem(22px);
}

.dark {
  @include mantine.dark {
    display: none;
  }

  @include mantine.light {
    display: block;
    color: var(--mantine-color-blue-6);
  }
}

.light {
  @include mantine.light {
    display: none;
  }

  @include mantine.dark {
    display: block;
    color: var(--mantine-color-yellow-4);
  }
}
